@use '../utils/mixins/fonts';

.projects {
  padding: 7.5rem 1.25rem 1.25rem;
  min-height: calc(100vh - 8.5rem);

  .header__projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .h_title {
    transform: translateY(100%);
  }

  .header__type__switch {
    overflow: hidden;
  }

  .header__text {
    overflow: hidden;
    @include fonts.mono_12;
    transform: translateY(100%);

    .header__s {
      cursor: pointer;
      position: relative;

      &:before {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: white;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 1s cubic-bezier(0.6, 0, 0.25, 0.98);
        transition-delay: 0;
      }
    }

    .header__type_active {
      &:before {
        transform: scaleX(1);
        transform-origin: left;
        transition-delay: .05s;
      }
    }

  }
}

.w__grid__projects {
  display: flex;
  justify-content: space-between;
  gap: 0.5625rem;
  flex-wrap: wrap;
  min-height: 100vh;
  align-content: flex-start;

  .w__cardProject {
    //overflow: hidden;
  }

  .cardProject {
    width: 28.75rem;
    height: 16.1875rem;
    overflow: hidden;
    opacity: 0;
    transform: translateY(500%);

    &:hover {
      .cardProject_i {
        transform: scale(1.1);
      }
    }

    .cardProject_i {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 1s cubic-bezier(0.22, 0.64, 0.39, 1.0);
    }
  }
}

.w__videoCursor {
  position: fixed;
  width: 30rem;
  aspect-ratio: 16/9;
  transform: translateY(-50%) translateX(-25%);
  z-index: 1;
  pointer-events: none;
  overflow: hidden;

  .videoCursor {
    opacity: 0;
    scale: 1.15;
    transition: opacity .5s cubic-bezier(0.18, 0.47, 0.16, 0.98),
    scale .5s cubic-bezier(0.18, 0.47, 0.16, 0.98);
  }
}

.w__list__projects {
  width: 100%;
  overflow: hidden;
  cursor: pointer;


  &:hover {
    .w__list_project_p {
      opacity: .15;
    }
  }

  .list_project {
    padding: 1rem 0;

    &:hover {
      .w__list_project_p {
        opacity: 1;
      }
    }

    .w__list_project_p {
      overflow: hidden;
      transition: opacity 1s cubic-bezier(0.20, 0.84, 0.28, 1);

      .list_project_p {
        text-transform: uppercase;
        font-size: 0.75rem;
        transform: translateY(90%);
        opacity: 0;

        .list_title {
          @include fonts.grotesk;
        }

        .list_separation {
          padding: 0 0.5rem;
        }

        .list_author {
          @include fonts.mono_12;
        }
      }
    }
  }

  .list_line {
    width: 100%;
    height: 1px;
    background: white;
    opacity: 0;
    pointer-events: none;
  }
}

.w__projects {
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .w__grid__projects {
    gap: 1.25rem;

    .w__cardProject {
      width: 100%;
      height: 100%;
    }

    .cardProject {
      width: 100%;
      height: 100%;
    }
  }

}


@media screen and (max-width: 768px) {
  .w__videoCursor {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: none;
    z-index: -1;

    .videoCursor {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
    }
  }

  .projects {
    min-height: calc(200vh - 8.5rem);
  }

}
