@use '../utils/mixins/fonts';

.projects {
  padding: 7.5rem 1.25rem 1.25rem;
  min-height: calc(100vh - 6rem);

  .header__projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .h_title {
    transform: translateY(100%);
  }

  .header__type__switch {
    overflow: hidden;
  }

  .header__text {
    overflow: hidden;
    @include fonts.mono_12;
    transform: translateY(100%);

    .header__s {
      cursor: pointer;
      position: relative;

      &:before {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: white;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .75s cubic-bezier(0.6, 0.25, 0.25, 0.98);
        transition-delay: 0s;
      }
    }

    .header__type_active {
      &:before {
        transform: scaleX(1);
        transform-origin: left;
        transition-delay: .05s;
      }
    }

  }
}

.w__grid__projects {
  display: flex;
  justify-content: space-between;
  gap: 0.5625rem;
  flex-wrap: wrap;
  min-height: 100vh;
  align-content: flex-start;

  .w__cardProject {
    width: 28.75rem;
    height: 16.1875rem;
    position: relative;
    transform: translateY(calc(105vh - 7.5rem));

    @media screen and (max-width: 1024px) {
      width: calc(28.75rem / 1.45);
      height: calc(16.1875rem / 1.45);
    }

    .w__cardProject__video {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      overflow: hidden;

      .cardProject_video {
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 1s cubic-bezier(.29,.23,.05,1);
        object-fit: cover;
      }
    }

    .w__cardProjectFocus {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      pointer-events: none;

      .cardProjectFocusSvg {
        position: absolute;
        width: 1rem;
        height: 1rem;
        pointer-events: none;

        .cls-1, .cls-2 {
          fill: white;
          stroke-width: 0;
          width: 100%;
          height: 100%;
          opacity: 1;
        }
      }

      .svg_tl {
        top: 0;
        left: 0;
        rotate: 90deg;
      }

      .svg_tr {
        top: 0;
        right: 0;
        rotate: 180deg;
      }

      .svg_bl {
        bottom: 0;
        left: 0;
        rotate: 0;
      }

      .svg_br {
        bottom: 0;
        right: 0;
        rotate: -90deg;
      }
    }

    .cardProject {
      position: relative;
      width: 28.75rem;
      height: 16.1875rem;

      @media screen and (max-width: 1024px) {
        width: calc(28.75rem / 1.45);
        height: calc(16.1875rem / 1.45);
      }

      overflow: hidden;


      .cardProject_i {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 1.5s cubic-bezier(.29,.23,.05,1);
      }
    }
  }
}

.w__videoCursor {
  position: fixed;
  width: 25rem;
  aspect-ratio: 16/9;
  transform: translateY(-50%) translateX(30%);
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
  transition: opacity 1s cubic-bezier(.29,.23,.05,1);

  .videoCursor {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    //scale: 1.15;
    //transition: scale .5s cubic-bezier(0.18, 0.47, 0.16, 0.98);
  }
}


.w__list__projects {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  transform: translateY(2.5%);


  .list_project {
    padding: 0.1rem 0;

    .w__list_project_p {
      overflow: hidden;
      transition: opacity .25s cubic-bezier(0.12, 0.58, 0.27, 1);

      .list_project_p {
        text-transform: uppercase;
        font-size: 0.75rem;
        transform: translateY(87%);

        .list_title {
          @include fonts.grotesk;
        }

        .list_separation {
          padding: 0 0.5rem;
        }

        .list_author {
          @include fonts.mono_12;
        }
      }
    }
  }

  .list_line {
    width: 100%;
    height: 1px;
    background: white;
    opacity: 0;
    pointer-events: none;
  }
}


.w__projects {
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .projects {
    padding: 5rem 1rem 1rem;
  }

  .w__grid__projects {
    gap: .30rem;

    .w__cardProject {
      width: calc(50% - .15rem);
      height: 100%;
      aspect-ratio: 16/9;
      transform: translateY(calc(100vh - 5rem));

      .cardProject {
        width: 100%;
        height: 100%;
      }
    }
  }

  .w__videoCursor {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: none;
    z-index: -1;


    .videoCursor {
      width: 100%;
      height: 100%;
      object-fit: cover;
      visibility: hidden;
      opacity: 1;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .header__text {
    .header__s {
      &:hover:before {
        transform: scaleX(1);
        transform-origin: left;
        transition-delay: .015s;
      }
    }
  }

  .w__list__projects {
    &:hover {
      .w__list_project_p {
        opacity: .15;
      }
    }
    .list_project {
      &:hover {
        .w__list_project_p {
          opacity: 1;
        }
      }
    }
  }
}


